body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	-webkit-text-size-adjust: none;
}

input, textarea, select {
	font-size: 100%;
	font-family: inherit;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, form, button, dl, dt, dd,
	input, textarea {
	margin: 0;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	word-wrap: break-word;
	word-break: break-all;
	padding: 0;
	margin: 0;
}

h4, h5, h6 {
	font-size: 1em;
}

ul, ol {
	padding-left: 0;
	list-style-type: none;
}

img {
	border: 0;
}

a {
	text-decoration: none;
	outline: none;
}

input, textarea {
	outline: none;
	-webkit-appearance: none;
	border-radius: 0;
}

i {
	font-style: normal;
}

button {
	outline: none;
	border: none;
	background: none;
}

.cc-yellow {
	color: #eb7e7f;
}


.cc-lyellow {
	background-color: #eb7e7f;
}

.cc-syellow {
	color: #eb7e7f;
}

.cc-darkgrey {
	color: #535353;
}

.cc-red {
	color: red;
}

.cc-deepred {
	color: #eb7e7f;
}

a.ca-lightgrey {
	color: #898989;
}

a.ca-dyellow {
	color: #eb7e7f;
}

a.ca-darkgrey {
	color: #3E4545;
}

a.ca-black {
	color: #000000;
}

a.ca-deepgrey {
	color: #434343;
}

a.ca-brown {
	color: #444444;
}

.ct-white {
	color: #FFFFFF;
}

.ct-lightgreen {
	color: #E8FABF;
}

.ct-black {
	color: #000000;
}

.ct-gray {
	color: #A0A0A0;
}

.ct-green {
	color: #8FC31F;
}

.ct-darkgreen {
	color: #96BD38;
}

.ct-lightwhite {
	color: #D3D3D3;
}

.ct-lightgrey {
	color: #898989;
}

.ct-middlegrey {
	color: #686868;
}

.ct-deepgrey {
	color: #434343;
}

.ct-red {
	color: #E64B2C;
}

.ct-darkgrey {
	color: #3E4545;
}

.icon {
	background-size: 150px 350px;
	display: inline-block;
}

.i-center {
	width: 11px;
	height: 16px;
	background-position: -15px -180px;
}

.i-start-pri {
	width: 9px;
	height: 11px;
	background-position: 0 -37px;
}

.i-take-pri {
	width: 8px;
	height: 11px;
	background-position: 0px -49px;
}

.i-back {
	width: 12px;
	height: 20px;
	background-position: 0 -84px;
}

.i-tri {
	width: 10px;
	height: 8px;
	background-position: 0 0;
}

.i-tri-r {
	width: 9px;
	height: 13px;
	background-position: 0 -23px;
}

.i-download {
	width: 20px;
	height: 20px;
	background-position: 0 -202px;
}

.i-succ {
	width: 81px;
	height: 81px;
	background-position: -34px 0;
}

.i-arr-t {
	width: 12px;
	height: 9px;
	background-position: 0 -184px;
}

.i-arr-d {
	width: 12px;
	height: 9px;
	background-position: 0 -169px;
}

.i-arr-b {
	width: 25px;
	height: 17px;
	background-position: 0 -168px;
}

.i-minus {
	width: 26px;
	height: 26px;
	background-position: 0 -139px;
}

.i-mobile {
	width: 13px;
	height: 13px;
	background-position: 0 -228px;
}

.i-locate {
	width: 12px;
	height: 17px;
	background-position: 0 -62px;
}

.i-gift {
	width: 15px;
	height: 15px;
	background-position: -35px -180px;
}

.i-firstdeal {
	width: 15px;
	height: 15px;
	background-position: -35px -200px;
}

.i-discount {
	width: 15px;
	height: 15px;
	background-position: -35px -220px;
}

.i-coupon {
	width: 15px;
	height: 15px;
	background-position: -55px -180px;
}

.i-consumefloor {
	width: 17px;
	height: 17px;
	background-position: -12 0px 0;
}

.i-freight {
	width: 17px;
	height: 17px;
	background-position: -120px -20px;
}

.i-shopnotice {
	width: 18px;
	height: 16px;
	background-position: -120px -38px;
}

.i-shoptime {
	width: 16px;
	height: 16px;
	background-position: -120px -55px;
}

.i-shoploc {
	width: 17px;
	height: 17px;
	background-position: -120px -72px;
}

.i-pluscircle {
	width: 17px;
	height: 17px;
	background-position: -120px -91px;
}

.i-minuscircle {
	width: 17px;
	height: 17px;
	background-position: -120px -110px;
}

.i-15x15 {
	width: 15px;
	height: 15px;
}

.i-17x17 {
	width: 17px;
	height: 17px;
}

.i-rightgreen {
	width: 20px;
	height: 15px;
	background-position: -120px -130px;
}

.i-wrongred {
	width: 20px;
	height: 15px;
	background-position: -116px -145px;
}

.i-orderphone {
	width: 40px;
	height: 40px;
	background-position: -35px -258px;
}

.i-circle {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
}

.i-warn {
	width: 35px;
	height: 31px;
	background-position: 0 -275px;
}

.i-compensate {
	width: 15px;
	height: 15px;
	background-position: -75px -258px;
}

.i-star {
	width: 21px;
	height: 20px;
	background-position: -75px -295px;
}

.i-star-light {
	width: 21px;
	height: 20px;
	background-position: -75px -275px;
}

.i-star-half {
	width: 21px;
	height: 20px;
	background-position: -75px -315px;
}

.i-star13 {
	width: 13px;
	height: 12px;
	background-position: -97px -295px;
}

.i-star13-light {
	width: 13px;
	height: 12px;
	background-position: -97px -275px;
}

.i-star13-half {
	width: 13px;
	height: 12px;
	background-position: -97px -315px;
}

.i-thumb {
	width: 13px;
	height: 15px;
	background-position: -120px -258px;
}

.i-thumb-yellow {
	width: 13px;
	height: 15px;
	background-position: -97px -258px;
}

.icon {
	background-image:
		url(http://<em></em>xs01.meituan.net/waimai_i/img/sprite/icon.png?v=8);
}

.i-plus {
	width: 26px;
	height: 26px;
	background-position: 0 -109px;
}

@font-face {
	font-family: 'iconfonts';
	src:
		url('http://xs01.meituan.net/waimai_i/css/fonts/iconfonts.eot?4mlmdt');
	src:
		url('http://xs01.meituan.net/waimai_i/css/fonts/iconfonts.eot?#iefix4mlmdt')
		format('embedded-opentype'),
		url('http://xs01.meituan.net/waimai_i/css/fonts/iconfonts.woff?4mlmdt')
		format('woff'),
		url('http://xs01.meituan.net/waimai_i/css/fonts/iconfonts.ttf?4mlmdt')
		format('truetype'),
		url('http://xs01.meituan.net/waimai_i/css/fonts/iconfonts.svg?4mlmdt#iconfonts')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconfonts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-page:before {
	content: "\e600";
}

.icon-shop:before {
	content: "\e601";
}

.icon-cross:before {
	content: "\e602";
}

.icon-phoneO:before {
	content: "\e603";
}

.icon-tick:before {
	content: "\e604";
}

.icon-rperson:before {
	content: "\e605";
}

.icon-speaker:before {
	content: "\e606";
}

.icon-cart:before {
	content: "\e607";
}

.icon-crossO:before {
	content: "\e608";
}

.icon-list:before {
	content: "\e609";
}

.icon-series:before {
	content: "\e60a";
}

.icon-yuanO:before {
	content: "\e60b";
}

.icon-upO:before {
	content: "\e60c";
}

.icon-funnel:before {
	content: "\e60d";
}

.icon-clock:before {
	content: "\e60e";
}

.icon-mobile:before {
	content: "\e60f";
}

.icon-rclock:before {
	content: "\e610";
}

.icon-trumpet:before {
	content: "\e611";
}

.icon-bar:before {
	content: "\e612";
}

.icon-graph:before {
	content: "\e613";
}

.icon-floppy:before {
	content: "\e614";
}

.icon-person:before {
	content: "\e615";
}

.icon-loc:before {
	content: "\e616";
}

.icon-plus:before {
	content: "\e617";
}

.icon-minus:before {
	content: "\e618";
}

.icon-crossthick:before {
	content: "\e619";
}

.icon-tickthick:before {
	content: "\e61a";
}

.icon-exclamation:before {
	content: "\e61b";
}

.icon-arrow-right-tall:before {
	content: "\e61c";
}

.icon-refresh:before {
	content: "\e61d";
}

.icon-instrument:before {
	content: "\e61e";
}

.icon-alarm:before {
	content: "\e61f";
}

.icon-arrow-down:before {
	content: "\e620";
}

.icon-talk:before {
	content: "\e621";
}

.icon-arrow-right:before {
	content: "\e622";
}

.icon-thumb:before {
	content: "\e623";
}

.icon-crossregu:before {
	content: "\e624";
}

html {
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	background-color: #f1f1f1;
}

input, textarea {
	border: 1px solid #C6C6C6;
	padding: 3px;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.hidden {
	display: none;
}

.unvisialbe {
	visibility: hidden;
}

.clear {
	clear: both;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix {
	zoom: 1
}

.borderradius-1 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-boder-radius: 3px;
	-o-boder-radius: 3px;
}

.borderradius-2 {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-ms-boder-radius: 2px;
	-o-boder-radius: 2px;
}

.borderradius-3 {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-boder-radius: 3px;
	-o-boder-radius: 3px;
}

.borderradius-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-boder-radius: 5px;
	-o-boder-radius: 5px;
}

.flexbox, .flexboxv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -moz-box;
	display: box;
}

.flexboxv {
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

.flex {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	-moz-box-flex: 1;
	box-flex: 1;
}

.text-overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.btn-invalid {
	background-color: #898989 !important;
}

.field-load, .field-load-btn {
	text-align: center;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
}

.text-marquee {
	white-space: nowrap;
	display: inline-block;
}

.mask {
	position: absolute;
	z-index: 10000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}

.simpledialog {
	position: absolute;
	z-index: 10001;
	width: 305px;
	background-color: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-boder-radius: 3px;
}

.buttondialog-word {
	padding: 19px 33px 18px;
	text-align: center;
	font-size: 17px;
	border-bottom: 1px solid #dcdcdc;
}

.buttondialog-op {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -moz-box;
	display: box;
}

.buttondialog-op button {
	line-height: 45px;
	color: #eb7e7f;
	font-size: 21px;
	text-align: center;
	display: block;
	border-left: 1px solid #dcdcdc;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	-moz-box-flex: 1;
	box-flex: 1;
}

.buttondialog-op button:first-child {
	border-left: none;
}

.tipdialog {
	position: absolute;
	z-index: 10001;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-boder-radius: 3px;
}

.tipdialog-content {
	width: 270px;
	padding: 10px 12px;
	font-size: 17px;
	text-align: center;
	color: #ffffff;
}

.tipdialog-content .icon-tick {
	color: #8fc31f;
	vertical-align: -1px;
}

.tipdialog-content .icon-cross {
	color: red;
	vertical-align: -1px;
}

.comtextarea {
	border: 1px solid #D2D2D2;
	resize: none;
	padding: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-boder-radius: 3px;
}

.menudialog {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 10001;
}

.menudialog-group {
	margin: 10px;
	background-color: #ffffff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-boder-radius: 3px;
}

.menudialog-item-html, .menudialog-item-button, .menudialog-item-cancel
	{
	text-align: center;
	border-top: 1px solid #d2d2d2;
}

.menudialog-item-button, .menudialog-item-cancel {
	font-size: 20px;
	padding: 11px;
}

.menudialog-item-first {
	border: none;
}

.menudialog-item-button {
	color: #eb7e7f;
}

.menudialog-item-cancel {
	color: #959595;
}

.commondialog-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 36px;
	height: 35px;
}

.commondialog-close i {
	margin: 15px 0 0 10px;
	width: 11px;
	height: 10px;
	display: block;
	font-size: 14px;
	color: #a0a0a0;
	line-height: 10px;
	text-indent: -2px;
}

.commondialog-content {
	padding: 15px 20px;
}

.comselect {
	border: 1px solid #d2d2d2;
	position: relative;
	display: inline-block;
	width: 210px;
	height: 30px;
	line-height: 30px;
}

.comselect-select {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -11px;
	width: 100%;
	opacity: 0;
	z-index: 1;
}

.comselect-value {
	padding: 0 28px 0 10px;
	display: block;
	height: 100%;
	overflow: hidden;
}

.comselect-value.comselect-unselected {
	color: #bfbfbf;
}

.comselect-i {
	position: absolute;
	top: 12px;
	right: 9px;
	width: 12px;
	height: 6px;
	line-height: 6px;
	font-size: 12px;
	color: #d2d2d2;
}

.combtn {
	border: 0;
	color: #FFFFFF;
	background-color: #eb7e7f;
	text-align: center;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-ms-boder-radius: 3px;
	-o-boder-radius: 3px;
	border-radius: 3px;
}

.banner {
	height: 42px;
	border-top: 1px solid #CF912E;
	border-bottom: 1px solid #CF912E;
	background-color: #eb7e7f;
}

.banner .inner {
	padding: 0 14px;
}

.banner .site-name {
	color: #FFFFFF;
	line-height: 42px;
	font-size: 20px;
	margin-left: 10px;
	font-weight: normal;
	float: left;
}

.banner .logo {
	margin-top: 4px;
}

.banner .logo img {
	width: 34px;
	height: 34px;
}

.banner .o-center {
	padding-top: 12px;
	float: right;
}

.banner .o-center .i-center {
	display: inline-block;
	vertical-align: top;
	margin-top: 1px;
}

.banner .o-center .o-center-word {
	display: inline-block;
	vertical-align: top;
}

.banner .o-center span {
	font-size: 16px;
	color: #FFFFFF;
}

.banner .place {
	margin-left: 10px;
	padding-top: 12px;
}

.banner .place .name {
	font-size: 16px;
	color: #FFFFFF;
}

.banner .place .i-tri {
	vertical-align: 1px;
}

.page-banner {
	text-align: center;
	position: relative;
}

.banner .page-name {
	font-size: 20px;
	line-height: 42px;
	color: #FFFFFF;
	font-weight: normal;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin: 0 75px;
}

.banner .back-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 42px;
	line-height: 42px;
	padding-left: 8px;
}

.banner .i-back {
	display: inline-block;
	vertical-align: top;
	margin-top: 11px;
	float: left;
}

.banner .goback {
	font-size: 16px;
	color: #FFFFFF;
	display: block;
	float: left;
}

.bannerad-wrap {
	width: 100%;
	height: 75px;
	margin: 0 auto;
	overflow: hidden;
}

.bannerad {
	
}

.bannerad img {
	width: 320px;
	height: 75px;
}

.banneritem {
	float: left;
}

.service-placeholder, .service {
	height: 40px;
	width: 100%;
	margin-top: 50px;
}

.service-placeholder {
	padding-top: 1px;
}

.service {
	position: absolute;
	left: 0;
	bottom: 0;
	border-top: 1px solid #AAAAAA;
}

.service .i-mobile {
	vertical-align: -3px;
}

.service span {
	margin-left: 5px;
}

.service .service-wrap {
	width: 205px;
	margin: 0 auto;
	color: #898989;
	padding-top: 9px;
	white-space: nowrap;
	text-align: center;
}

.service .service-wrap a {
	color: #898989;
	font-size: 12px;
}

.sd-table, td, tr, th {
	font-size: 12px;
	border-collapse: collapse;
}

.sd-table th, .sd-table td {
	border-collapse: collapse;
	border: #DCDCDC solid 1px;
	vertical-align: top;
	margin: 0;
	padding: 0;
}

.sd-table .th-inner, .sd-table .td-inner {
	padding: 6px 15px;
}

.sd-table {
	width: 100%;
}